<div class="flex justify-center mt-11 md:space-x-6">
  <!-- Displaying the first client logo -->
  <div class="">
    <img class="scale-[0.7] md:scale-100" src="assets/images/client-databiz.svg" alt="icon-databiz">
  </div>
  <!-- Displaying the second client logo -->
  <div class="">
    <img class="scale-[0.7] md:scale-100" src="assets/images/client-audiophile.svg" alt="icon-audiophile">
  </div>
  <!-- Displaying the third client logo -->
  <div class="">
    <img class="scale-[0.7] md:scale-100" src="assets/images/client-meet.svg" alt="icon-meet">
  </div>
  <!-- Displaying the fourth client logo -->
  <div class="">
    <img class="scale-[0.7] md:scale-100" src="assets/images/client-maker.svg" alt="icon-maker">
  </div>
</div>
