<!-- Background container -->
<div class="bg-Almost_White">
  <!-- Content container with limited width -->
  <div class="relative mx-auto flex flex-col min-h-screen max-w-[1440px]">

    <!-- Navigation element -->
    <app-nav-bar></app-nav-bar>

    <!-- Main content panel -->
    <app-content-panel></app-content-panel>

    <!-- Footer (visible only on desktop) -->
    <app-footer class="md:hidden"></app-footer>

    <!-- Mobile menu panel (visible only on mobile devices) -->
    <app-mobile-menu-panel></app-mobile-menu-panel>

  </div>
</div>
